.label {
    -fx-font-family: "NanumSquare";
    -fx-font-size: 19px;
    -fx-text-fill: white;
}

.wattunit {
    -fx-font-size: 15px;
}

#title-container {
    -fx-background-color: #FF8C32;
}

#details-container {
    -fx-background-color: #06113C;
}

#title {
    -fx-font-family: "NanumSquare Bold";
    -fx-font-size: 23px;
}