.text {
    -fx-font-smoothing-type: gray;
}

.parametercombo {
    -fx-min-width: 120px;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
    -fx-font-family: "NanumSquare";
    -fx-font-size: 16px;
    -fx-font-smoothing-type: gray;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 1px;
}

.textparameter {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 1px;
    -fx-font-family: "NanumSquare Bold";
    -fx-font-size: 16px;
}

.applybutton {
    -fx-font-family: "NanumSquare";
    -fx-font-size: 16px;
    -fx-font-smoothing-type: gray;
    -fx-padding: 5px;
    -fx-pref-width: 40px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 1px;
}

#startbutton {
    -fx-font-family: "NanumSquare";
    -fx-font-size: 16px;
    -fx-font-smoothing-type: gray;
    -fx-padding: 5px;
    -fx-pref-width: 200px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 1px;
}

#title-container {
    -fx-background-color: #FF8C32;
}

#details-container {
    -fx-background-color: #06113C;
}

#title {
    -fx-font-family: "NanumSquare Bold";
    -fx-font-size: 26px;
    -fx-fill: white;
}